.Board {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  justify-content: center;
  margin: 90px 0;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}

.result {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.result h4 {
  margin: 0 20px;
  width: 150px;
  background-color: orange;
  color: black;
  padding: 5px 0;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
}
